name: Update TrueSkill tables

on:
  push:
    paths:
      - data/matchs.xlsx
      - scripts/**

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run TrueSkill script
      run: python scripts/Trueskill_script.py

    - name: Commit updated results
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git add docs/resultats
        git commit -m "Auto-update TrueSkill results" || echo "No changes"
        git push

